{% extends 'ui/base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'product/style.css' %}">
<style>
.button-edit{
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.button-delete{
    background-color: #8B0000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
 }
..button-add-to-cart{
    padding: 5px;
    background-color: #90EE90;
    border:none;
    border-radius:4px;
}

</style>
    <h3>Product Description</h3>
    <table>
        <tr>
            <th>ID</th>
            <th>Category</th>
            <th>Name Brand</th>
            <th>Title</th>
            <th>Price</th>
            <th>URL</th>
            {%if user.is_authenticated%}
                <th>Add</th>
             {%endif%}
            {%if user.is_superuser%}
                <th>Edit</th>
                <th>Delete</th>
            {%endif%}

        </tr>
        <tr>
            {% if product.id %}
                <td>{{ product.product_id }}</td>
                <td>{{ product.category }}</td>
                <td>{{ product.brand_name }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td><a href="{{ product.product_url }}" target="_blank">View</a></td>
                {%if user.is_authenticated%}
                    <td>
                        <form method="post" action="{% url 'product:add_product_to_cart' product.id %}">
                            {% csrf_token %}
                            <button type="submit" class=".button-add-to-cart">Add</button>
                        </form>
                    </td>
                {%endif%}
                {%if user.is_superuser%}
                    <td>
                         <form method="post" action="{% url 'product:edit_product' product.id %}">
                            {% csrf_token %}
                             {%if user.is_superuser%}
                                <button class="button-edit" type="submit">Edit</button>
                              {% endif %}
                        </form>
                    </td>
                    <td>
                        <form method="post" action="{% url 'product:delete_product' product_id=product.id %}">
                            {% csrf_token %}
                                <button class="button-delete" type="submit">Delete</button>
                        </form>
                    </td>
                {% endif %}
            {% else %}
                <p>Error: Product has been deleted!</p>
            {% endif %}

        </tr>
      </table>
{% endblock %}

