{% extends 'ui/base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'product/style.css' %}">

<style>
    button{
    padding: 5px;
    background-color: #90EE90;
    border:none;
    border-radius:4px;
    }
</style>

    <h3>All Products</h3>
    <table>
        <tr>
            <th>ID</th>
            <th>Category</th>
            <th>Name Brand</th>
            <th>Title</th>
            <th>Price</th>
            <th>URL</th>
            <th>Add to cart</th>
        </tr>
        {% for product in all_products %}
            <tr>
                <td><a href="{% url 'product:product_description' pid=product.id %}">{{ product.product_id }}</a></td>

                <td>{{ product.category }}</td>
                <td>{{ product.brand_name }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td><a href="{{ product.product_url }}" target="_blank">View</a></td>
                <td>
                    <form method="post" action="{% url 'product:add_product_to_cart' product.id %}">
                        {% csrf_token %}
                        <button type="submit">Add</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
