{% extends 'ui/base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'product/style.css' %}">
<style>
.button-edit{
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.button-delete{
    background-color: #8B0000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
</style>
    <h3>Product Description</h3>
    <table>
        <tr>
            <th>ID</th>
            <th>Category</th>
            <th>Name Brand</th>
            <th>Title</th>
            <th>Price</th>
            <th>URL</th>
            <th>Edit</th>
            <th>Delete</th>

        </tr>
        <tr>
            {% if product.id %}
                <td>{{ product.product_id }}</td>
                <td>{{ product.category }}</td>
                <td>{{ product.brand_name }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td><a href="{{ product.product_url }}" target="_blank">View</a></td>
                <td>
                     <form method="post" action="{% url 'product:edit_product' product_id=product.id %}">
                    {% csrf_token %}
                    <button class="button-edit" type="submit">Edit</button>
                </form>
                </td>
                <td>
                <form method="post" action="{% url 'product:delete_product' product_id=product.id %}">
                    {% csrf_token %}
                    <button class="button-delete" type="submit">Delete</button>
                </form>
            {% else %}
                <p>Error: Product has been deleted!</p>
            {% endif %}
            </td>
        </tr>
      </table>
{% endblock %}

